include README.md
include requirements.txt
recursive-include pyfecons/costing/mfe/included_files *
recursive-include pyfecons/costing/mfe/templates *
recursive-include pyfecons/costing/ife/included_files *
recursive-include pyfecons/costing/ife/templates *