# top level requirements can be generated with
# pipdeptree -fd 0

matplotlib==3.9.0
numpy==1.25.0
pandas==2.2.2
pytest==8.3.3
requests==2.32.3
scikit-learn==1.5.0
scipy==1.11.2
black[colorama]==25.1.0

# Development dependencies
pre-commit==3.6.0
isort==5.13.2
flake8==7.0.0
